@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Literata", Arial, sans-serif; 
}

body{
    background: #ffffff;
    display: flex;
    flex-direction: column;
}

.space{
    width: 93%;
    margin-left: auto;
    margin-right: auto;
} 

.page_container{
    width: 1440px;
    height: 100vh;
    margin-left: 35px;
    margin-right: 35px;
}

.reserch {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 60px;
    display: flex;
    align-items: center; 
    gap: 10px; 
    text-align: left;
}

.reserch form {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    text-align: left;
}

.work_types {
    background-color: rgba(114, 169, 224, 0.2);
    width: 700px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    margin: 0; 
    text-align: left;
    font-size: 18px;
}

.title_reserch{
    font-size: 30px;
}

.reserch-button{
    background-color: rgba(114, 169, 224, 0.2);
    border-radius: 20px;
    padding: 10px 50px; 
    border: none;
    font-size: medium;
    cursor: pointer;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.no-results {
    text-align: center; /* Пример: центрирование текста */
    margin-top: 20px; /* Пример: отступ сверху */
}

.request{
    border: none;
    background-color: #ffffff;
    margin-left: 40px;
    padding-right: 10px;
    display: flex;
    text-decoration: none;
    position:relative;
}

.application{
    width: 60px; 
    height:auto;
}

.sum-request{
    background-color:#5D86B6;
    height: 20px;
    width: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    position:absolute; top:5px; left:45px;
}

.loadingBg {
    z-index: 999;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5D86B6;
}