.titlee {
    color: #000;
    font-size: 26px;
    margin-left: 20px;
}

.names{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.cursor-pointer {
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center
}

.cursor-pointer:hover {
    background-color: #f0f8ff;
}

.table-container {
    border: 1px solid #000; 
    border-radius: 8px; /* Скруглённые углы */
    padding: 16px; /* Внутренний отступ */
    margin: 16px;
    background-color: white; /* Фоновый цвет */
}

.table-container .row {
    border-bottom: 1px solid #ddd; /* Линии между строками */
    padding: 8px 0; /* Отступы строк */
}

.table-container .row:last-child {
    border-bottom: none; /* Убираем нижнюю границу у последней строки */
}

.table-container .col {
    border-right: 1px solid #ddd; /* Линии между колонками */
    padding: 8px; /* Внутренний отступ */
}

.table-container .col:last-child {
    border-right: none; /* Убираем правую границу у последней колонки */
}

.finish{
    background-color: #659dd5 !important;
    border: none !important;
    transition: background-color 0.3s;
}
.finish:hover{
    background-color: #345473 !important;
}

.startdate{
    display: flex;
}
.start-end{
    padding-top: 5px;
    padding-right: 5px;
}

.date-picker-container {
    position: relative;
 }
 .date-picker-container .form-control {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;

 }
 .react-datepicker__input-container{
   display: contents;
 }
 .react-datepicker{
   z-index: 1000;
   position: absolute;
 }
/* 
 @media (min-width: 600px) {
    .table-container {
      padding: 0px;
      margin: 0px;
    }
  
    .names {
      font-size: 12px !important;
    }
    .titlee {
        font-size: 12px !important;
    }

    .finish{
        font-size: 12px !important;
    }
  } */

