.inputField {
    display: flex;
    gap: 8px;
    align-items: center;
}

.inputField input {
    background-color: rgba(114, 169, 224, 0.2);
    width: 700px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    margin: 0; 
    text-align: left;
    font-size: 18px;
}

.inputField input:focus {
    outline: none; /* Убирает стандартную обводку браузера */
}

.inputField button {
    background-color: rgba(114, 169, 224, 0.2);
    border-radius: 20px;
    padding: 10px 50px; 
    border: none;
    font-size: medium;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}

.inputField button:hover {
    background-color: rgba(114, 169, 224, 2); 
    color: white;
}

@media (max-width: 768px) {
    .inputField {
        flex-direction: row; /* Размещаем элементы в колонку */
        align-items: stretch; /* Элементы растягиваются на всю ширину */
        /* gap: 15px; */
    }

    .inputField input {
        width: 250px;
        font-size: 16px;
    }

    .inputField button {
        width: 100px;
        padding: 10px 10px;
        font-size: 16px;
    }
}