.logo{
    display: flex;
    height: 80px;
    width: 390px;
    flex-wrap: wrap;
    background: linear-gradient(180deg, #3E80C2 0%, #ffffff 100%);
    align-items: center;
    /* padding-right: 20px; */
    margin: 0;
}

.logo img {
    height: 60px; /* Высота логотипа */
    width: auto;
    margin-right: 10px; /* Отступ между логотипом и названием */
    margin-left: 20px;
    cursor: pointer;
}

.logo-wrapper{
    display: flex;
}

.text-wrapper{
    font-size: medium;
}

.header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0px;
  }