.card-container {
    width: 1120px;
    height: 275px;
    background: linear-gradient(180deg, #3E80C2 0%, #72A9E0 100%);
    margin-bottom: 20px;
    border-bottom-right-radius: 50px;
    display: flex;
    margin-right: 20px;
}

.cardd {
    height: auto;
    margin-left: 15px; /* Уменьшите отступы */
    margin-right: 15px; /* Уменьшите отступы */
    margin-top: 15px; /* Уменьшите отступы */
    background: white;
}

.work-img {
    width: 428px;
    height: 275px;
    display: block; /* Устанавливает изображение в блок */
    object-fit: cover; /* Устанавливает режим обрезки изображения */
}

.value-input{
    border: none;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 10px !important;
    width: 100px;
    color: #3E80C2;
    outline:none;
    margin-left: 10px;
    margin-right: 5px;
}

.title-works{
    font-size: 35px;
    width: auto;
}

input:focus::placeholder {
    color: transparent;
}


.info_work{
    margin-left: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: normal;
}

.title-card{
    font-size: 24px;
    color: white;
    height: 60px;
    margin-left: 15px !important;
    font-weight: bold;
}

.specifications{
    display: grid;
    margin-top: 12px;
    font-size: 20px;
    gap: 12px;
    color: white;
    margin-left: 15px !important;
}

.card_and_buttons{
    display: flex;
    /* gap: 280px; */
}

.delete_application_button{
    margin-top: 27px;
    background: #3E80C2;
    height: 50px;
    width: 200px;
    font-size: 20px;
    justify-content: center;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.edit-btn{
    margin-left: 5px;
}

.title_and_delete{
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 290px;
    padding-bottom: 10px;
    height: auto;
}

.delete-btn{
    font-size: 30px;
    margin: 0px;
    background-color: transparent;
    border: none;
    margin-right: 10px;
    color: white;
    transition: color 0.3s ease;
}
.delete-btn:hover {
    color: red; 
}

.actions{
    margin-top: 30px;
    margin-left: 10px;
}
.edit-btn{
    background-color: #c8dcf1;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border: none;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}
.edit-btn:hover{
    background-color: #3E80C2;
    color: white;
}