.card-container {
    width: 1120px;
    /* width: 100%; */
    height: 275px;
    background: linear-gradient(180deg, #3E80C2 0%, #72A9E0 100%);
    margin-bottom: 20px;
    border-bottom-right-radius: 50px;
    display: flex;
    margin-right: 20px;
}

.cardd {
    height: auto;
    margin-left: 15px;
    margin-right: 15px; 
    margin-top: 15px; 
    background: white;
}

.work-img {
    width: 428px;
    /* width: 120%; */
    height: 275px;
    /* display: block; */
    object-fit: cover;
    cursor: pointer;
}

.value-input{
    border: none;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 10px !important;
    width: 100px;
    color: #3E80C2;
    outline:none;
    margin-left: 10px;
    margin-right: 5px;
}

.title-works{
    font-size: 35px;
    width: auto;
}

input:focus::placeholder {
    color: transparent;
}


.info_work{
    /* margin-left: 24px;
    margin-top: 10px;
    margin-bottom: 5px; */
    padding-top: 10px;
    flex: 1;
    font-weight: normal;
}

.title-card{
    font-size: 24px;
    color: white;
    height: 60px;
    margin-left: 15px !important;
    font-weight: bold;
}

.specifications{
    display: grid;
    margin-top: 12px;
    font-size: 20px;
    gap: 12px;
    color: white;
    margin-left: 15px !important;
}

.card_and_buttons{
    display: flex;
    /* gap: 280px; */
}

.delete_application_button{
    margin-top: 27px;
    background: #3E80C2;
    height: 50px;
    width: 200px;
    font-size: 20px;
    justify-content: center;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.edit-btn{
    margin-left: 5px;
}

.title_and_delete{
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 350px;
    padding-bottom: 10px;
    height: auto;
}

.delete-btn{
    font-size: 30px;
    margin: 0px;
    background-color: transparent;
    border: none;
    margin-right: 10px;
    color: white;
    transition: color 0.3s ease;
}
.delete-btn:hover {
    color: red; 
}

.actions{
    margin-top: 30px;
    margin-left: 10px;
}
.edit-btn{
    background-color: #c8dcf1;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border: none;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}
.edit-btn:hover{
    background-color: #3E80C2;
    color: white;
}


@media (max-width: 1000px) {
    .card-container {
        width: 900px;
        align-items: center;
        border-radius: 20px; 
    }

    .work-img {
        height: 275px;
    }
    .title-works{
        font-size: 25px;
        width: auto;
    }
    .title-card {
        font-size: 20px;
        width: 400px;
    }
    .delete-btn{
        font-size: 20px;
    }
    .title_and_delete{
        gap: 25px;
    }
    .info_work{
        padding-top: 0px;
        /* flex: 1; */
        font-weight: normal;
    }
    .specifications {
        font-size: 16px;
    }
    .edit-btn {
        font-size: 14px;
        padding: 6px 10px;
    }
    .card_and_buttons{
        flex-direction: column !important;
    }
}

@media (max-width: 800px) {
    .card-container {
        width: 700px;
        align-items: center;
        border-radius: 20px; 
    }
    .work-img {
        height: 275px;
    }
    .title-works{
        font-size: 25px;
        width: auto;
    }
    .title-card {
        font-size: 18px;
        width: 200px;
    }
    .delete-btn{
        font-size: 20px;
    }
    .title_and_delete{
        gap: 25px;
    }
    .info_work{
        padding-top: 0px;
        /* flex: 1; */
        font-weight: normal;
    }
    .specifications {
        font-size: 16px;
    }
    .edit-btn {
        font-size: 14px;
        padding: 6px 10px;
    }
    .card_and_buttons{
        flex-direction: column !important;
    }
}
