.card{
    overflow: auto;
    border-radius: 0px 0px 50px 0px !important;
    background: linear-gradient(180deg, #3E80C2 0%, #72A9E0 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none !important;
}
.image{
    display: block;
    margin: 0;
    padding: 0;
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.info{
    margin-left: 10px;
    margin-right: 10px;
}
.title{
    color: #ffffff;
    margin-top: 16px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: medium;
    font-size: 20px;
}
.price{
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
.card-button{
    padding: 10px 50px; 
    border-radius: 50px;
    color: #5D86B6;
    background: white;
    font-size: 16px;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: medium;
    border: none;
    cursor: pointer;
}
.down{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}
.down p{
    font-size: 16px;
    font-weight: 700;
}

.textStyle {
    height:48px;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-bottom:12px;
}

/* Адаптивная верстка */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
        width: 350px;
    }
    .title {
        font-size: 18px; 
    }

    .price {
        font-size: 20px;
    }

    .card-button {
        padding: 10px 30px; 
        font-size: 14px; 
    }

    .image {
        height: 230px;
    }
}


