.imginlist{
    width: 100%; /* Чтобы изображение не выезжало за пределы ячейки */
    max-width: 150px; /* Максимальная ширина изображения */
}
.names{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.table-containerr {
    border: none;
    border-radius: 8px; /* Скруглённые углы */
    padding: 16px;
    /* margin: 16px; */
    background-color: white; /* Фоновый цвет */
}

.table-containerr .row {
    border-bottom: 1px solid #ddd; /* Линии между строками */
    padding: 8px 0; 
}

.table-containerr .row:last-child {
    border-bottom: none; /* Убираем нижнюю границу у последней строки */
}

.table-containerr .col {
    border-right: 1px solid #ddd; /* Линии между колонками */
    padding: 8px; 
}

.table-containerr .col:last-child {
    border-right: none; /* Убираем правую границу у последней колонки */
}

.buttonch{
    background-color: #659dd5 !important;
    border: none !important;
    transition: background-color 0.3s;
}
.buttonch:hover{
    background-color: #345473 !important;
}

.buttondl{
    background-color: #659dd5 !important;
    border: none !important;
    transition: background-color 0.3s;
}
.buttondl:hover{
    background-color: red !important;
}
.buuttons{
    display: flex;
    gap: 5px !important;
    align-items: center;
}

.addd{
    margin-left: 70px !important;
}

.fdops{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}